@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../../imagensTHE/fundo/index.jpg);
	margin-left:auto;
	margin-right:auto;
}

body div#tudo {
	background:url(../../imagensTHE/fundo/index2.jpg) repeat;
}

#principal{
	width:809px;
	margin:0 auto;
	min-height:500px;
}

#tudo{
	width:790px;
	padding:10px;
	float:left;
}

#conteudo{
	background:#FFFFFF;
	float:left;
}

#coluna1{
	float:left; 
	width:170px; 
	margin:0;	
	padding:0;
}

#coluna2{
	float:left; 
	width:450px; 
	margin:0;	
	padding:0;
}

#coluna3{
	float:left; 
	width:170px; 
	margin:0;	
	padding:0;
}

#coluna4{
	float:right;
	width:620px;
	height:auto;
}

#coluna4A{
	float:left; width:150px; min-height:100px; height:100px; border:none; margin:0;	padding:0; margin-left:25px;
}
#coluna4B{
	float:left; border:none; margin:0;	padding:0; margin-left:35px;
}
#coluna4C{
	float:left; width:150px; min-height:100px; height:100px; border:none; margin:0;	padding:0; margin-left:25px;
}
#coluna5A{
	float:left; width:100px; min-height:100px; height:100px; border:none; margin:0;	padding:0; margin-left:25px; margin-top:30px;
}
#coluna5B{
	float:left; width:350px; min-height:150px; height:150px; border:none; margin:0;	padding:0; margin-left:40px; margin-top:15px;
}
#coluna6A{
	float:left; width:70px; min-height:100px; height:100px; border:none; margin:0;	padding:0; margin-left:25px; margin-top:30px;
}
#coluna6B{
	float:left; width:360px; min-height:150px; height:150px; border:none; margin:0;	padding:0; margin-left:10px; margin-top:15px;
}
.placar{
	float:left; width:140px; height:80px; border:none; margin-left: 5px; margin-top:5px; margin-bottom:5px; padding-top:5px; text-align:center;
	background:url(../../imagensTHE/fundo/bg_Boxplacar.jpg);
}
.box{
	position:relative; top:0; left:3%;	margin-left:0;	margin-top:0; padding:0;
	width: 550px;
	height:148px;
	border-left:0px solid #CCCCCC;	border-right:0px solid #CCCCCC;	
	background:url(../../imagensTHE/fundo/box.jpg);
}
.box2{
	position:relative; top:0; left:3%;	margin-left:0;	margin-top:0; padding:0;
	/*tamanho*/ 
	width: 550px;
	height:180px;
	/*bordas*/ 	
	border-left:0px solid #CCCCCC;	border-right:0px solid #CCCCCC;	
	/*background*/
	/*background*/
	background:url(../../imagensTHE/fundo/box.jpg);
}

.boxMensagem{
	margin:0;
	padding:0;
	float:left;
	background:url(../../imagensTHE/fundo/fundo_msg_erro.jpg) repeat;
	color:#666666; font-family:Tahoma; font-size:11px; font-weight:bold; text-decoration:none; line-height:16px;
}
#colunaboxMensagemA{
	float:left;
	width:60px;
	height:auto;
	padding:15px;
}
#colunaboxMensagemB{
	float:right;
	width:350px;
	height:auto;
	padding:15px;	
}
/*
#clear01{
	clear:both;	
}*/
.rodapeDiv{
	height:100px;
}
#rodape1{
	float:left; width:550px; margin-top:18px; margin-bottom:10px;
}
#rodape2{
	float:right; width:129px; margin-top:10px; margin-bottom:10px;
}
hr{
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px dashed #CCCCCC;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	width:140px;
	margin-bottom:17px;
	margin-top:17px;
}
.hr2{
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px dashed #CCCCCC;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	width:600px;
}

.margemInterna{
	margin: 10px; 
	margin-top: 20px;
}

.titulosMenu {
	color: #0C558A;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	padding-top:10px;
}
.resultPlacar {
	color: #0C558A;
	font-family: "Trebuchet MS";
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	padding-top:10px;	
}

.textos {
	color: #666666;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	line-height: 18px;
}
a.textos:hover {
	color: #666666;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	line-height: 18px;
}
.textosbold {
	color: #666666;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: 16px;
}
a.textosbold:hover {
	color: #666666;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	line-height: 16px;
}
.advertenciabold {
	color: #B61B17;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: 16px;
}
a.advertenciabold:hover {
	color: #B61B17;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	line-height: 16px;
}
.textosItalico {
	color: #666666;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	line-height: 16px;
	font-style: italic;
}
.titulosPag {
	color: #0A5688;
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
.titulosSorteio {
	color: #F48221;
	font-family: "Trebuchet MS";
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
.txtSorteio {
	color: #0A5688;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	line-height: 17px;
	padding-top:10px;
}
a.txtSorteio:hover {
	color: #0A5688;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	line-height: 17px;
	padding-top:10px;
}
.txtSorteioUnder {
	color: #0A5688;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	line-height: 17px;
}
a.txtSorteioUnder:hover {
	color: #0A5688;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	line-height: 17px;
}

.botao{
	font-size:9px;
	font-family: Verdana, Geneva, sans-serif;
	color:#8B8B8B;
	border:0px;
	width:120px;
	height:20px;
	background-color: transparent;	
	background-image:url(../../imagensTHE/fundo/bg_btn.png);
}

form{
	padding:0px; 
	margin:0px;
}


.mostraAviso{
    border: 1px solid #EEEEEE;
	padding:15px;
	width: 550px;
	height:100px;
	background-color:#F9F9F9;
}


/* MENU FUNÇÕES */

.menu{
width:150px; 
margin-top:5px;

}

.menu .headerbar{
font: bold 13px Verdana;
color: white;
margin-bottom: 0; 
text-transform: uppercase;
/*padding: 7px 0 7px 31px; /**/
}

.menu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; 
}

.menu ul li{
padding-bottom: 1px; /*bottom spacing between menu items*/
}

.menu ul li a{
	background-image:url(../../imagensTHE/fundo/menu.jpg);
	display: block;
	/*padding: 5px 0;*/
	line-height: 25px;
	padding-left: 7px; 
	text-decoration: none;
	margin-top:1px;
	color: #666666;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
}

/* PERGUNTAS E RESPOSTAS */
.txt_Categoria{
	color: #0A568A;
	font-weight: bold;
	font-family: "Trebuchet MS";
	font-variant:small-caps;
	font-size:13px;
	padding-top:14px;
	padding-bottom:14px;
}
.txt_Pergunta{
	color:#000000;
	text-decoration: none;
	margin-top:1px;
	font-family:"Trebuchet MS";
	font-size:11px;
}
.txt_Resposta{
	position: absolute;
	visibility: hidden;
	font-family:"Trebuchet MS";
	padding-left:6px;
	padding-top:6px;
	padding-bottom:6px;
	font-size:11px;
	color:#666666;
}
table.bordasimples {
	border-collapse: collapse;
}

table.bordasimples tr td {
	border:1px solid #E6E6E6;
}