/* Css col esquerda */
.colEsquerda {
	float: left;
	width: 420px;
	text-align: center;
}

.colEsqFigTopo {
	background: transparent url(/web/estatico/images/inicial/borda_top1.gif)
		no-repeat bottom left;
	height: 10px;
}

.colEsqFigLateral {
	background: transparent
		url(/web/estatico/images/inicial/borda_left_right.gif) repeat-y bottom
		left;
}

.colEsqFigFundo {
	background: transparent
		url(/web/estatico/images/inicial/borda_bottom1.gif) no-repeat top left;
	height: 10px;
}

.nossa_imagem {
	margin-top: 0px;
	margin-left: 6px;
	float: left;
	width: 420px;
	height: 281px;
	text-align: center;
	margin-bottom: 4px;
}

.nossa_imagem img {
	max-width: 410px;
	max-height: 280px;
	height: auto;
	width: auto;
}

.campo_noticias {
	float: left;
	width: 380px;
	height: 10px;
	top: 0px;
	left: 5px;
	color: #AD0000;
	margin: 0px 0px 0px 10px;
}

.texto {
	float: left;
	margin: 5px 10px 5px 10px;
	text-align: justify;
}

/*Css Col Meio */
.colMeio {
	float: left;
	width: 275px;
	text-align: center;
}

.colMeioFigTopo {
	background: transparent url(/web/estatico/images/inicial/borda_top2.gif)
		no-repeat bottom left;
	height: 10px;
}

.colMeioFigLateral {
	background: transparent
		url(/web/estatico/images/inicial/borda_left_right2.gif) repeat-y
		bottom left;
}

.colMeioFigFundo {
	background: transparent
		url(/web/estatico/images/inicial/borda_bottom2.gif) no-repeat top left;
	height: 10px;
}

.campo_destaque {
	float: left;
	width: 240;
	height: 20px;
	left: 5px;
	color: #AD0000;
}

.imagem_destaque {
	float: left;
	height: 174px;
	margin-left: 10px;
	margin-right: 10px;
	width: 236px;
	text-align: center;
}

.imagem_destaque img {
	height: auto;
	max-height: 172px;
	max-width: 244px;
	width: auto;
}

.texto_destaque {
	float: left;
	margin-left: 15px;
	margin-bottom: 4px;
}

.campo_divulgacao {
	float: left;
	color: #AD0000;
	text-align: left;
	margin-left: 10px;
}

.separador {
	background: transparent url(/web/estatico/images/inicial/separador.gif)
		no-repeat scroll 0 0;
	float: left;
	height: 10px;
	margin-left: 34px;
	margin-top: 4px;
	width: 220px;
}

.animacao ul {
	width: 100px;
	height: 151px;
}

.animacao li {
	float: left;
	width: 140px;
	height: 150px;
	float: left;
}

/* CSS col direita*/
.colDir {
	float: left;
	width: 225px;
	text-align: center;
}

.colDirFigTopo {
	background: transparent url(/web/estatico/images/inicial/borda_top3.gif)
		no-repeat bottom left;
	height: 10px;
}

.colDirFigLateral {
	background: transparent
		url(/web/estatico/images/inicial/borda_left_right3.gif) repeat-y
		bottom left;
}

.colDirFigFundo {
	background: transparent
		url(/web/estatico/images/inicial/borda_bottom3.gif) no-repeat top left;
	height: 10px;
}

#busca {
	background: transparent
		url(/web/estatico/images/inicial/back_pesquisa.gif) no-repeat scroll
		center top;
	float: left;
	width: 226px;
	height: 20px;
}

#busca .btn_busca {
	background: none;
	border: none;
	cursor: pointer;
	float: left;
	margin-left: 18px;
	width: 36px;
	height: 16px;
}

#busca .campo_busca {
	background-color: #DFDFDF;
	border: medium none;
	float: left;
	height: 13px;
	width: 135px;
	margin: 2px 0px 0px 20px;
	font-size: 11px;
}

.titulo_form {
	float: none;
	width: 222px;
	height: 18px;
	color: #AD0000;
}

.separador1 {
	background: transparent url(/web/estatico/images/inicial/separador.gif)
		no-repeat scroll 0 0;
	float: left;
	height: 1px;
	margin: 4px 0px 0px 26px;
	width: 220px;
}

#userErro {
	color: red;
	left: 852px;
	list-style-type: none;
	position: fixed;
	top: 356px;
}

#passwdErro {
	color: red;
	left: 852px;
	list-style-type: none;
	position: absolute;
	top: 378px;
}

#optionErro {
	color: red;
	left: 852px;
	list-style-type: none;
	position: absolute;
	top: 406px;
}

#dadosLogin {
	float: left;
	width: 225px;
}

#dadosLogin a {
	margin-left: 6px;
}

#opcoesLogin {
	width: 225px;
}

#opcoesLogin ul {
	text-align: left;
	list-style-type: lower-roman;
	clear: both;
}

.formInicial {
	float: left;
	margin-bottom: 3px;
}

.formInicial .esq {
	float: left;
	text-align: right;
	width: 108px;
	margin: 0px 2% 10px 0px;
}

.formInicial .dir {
	float: left;
	text-align: left;
	width: 108px;
}

.formInicial input[type="image"] {
	position: relative;
	top: 2px;
	left: 8px;
}

.formInicial input[type="text"] {
	height: 15px;
	border: 1px solid #999;
}

.formInicial input[type="password"] {
	height: 15px;
	border: 1px solid #999;
}

.formInicial select {
	height: 20px;
	border: 1px solid #999;
}

.formInicial .esq label {
	position: relative;
	top: 2px;
}

.separadorColunas {
	float: left;
	width: 10px;
}

/* Css Noticias */
.noticia {
	float: left;
	width: 705px;
	text-align: center;
}

.noticiaTopo {
	background: transparent url(/web/estatico/images/noticias/borda_top.gif)
		no-repeat scroll bottom left;
	height: 10px;
}

.noticiaFigLateral {
	background: transparent
		url(/web/estatico/images/noticias/borda_left_right.gif) repeat-y
		scroll left bottom;
}

.noticiaFigFundo {
	background: transparent
		url(/web/estatico/images/noticias/borda_bottom.gif) no-repeat scroll
		top left;
	height: 10px;
}

.fontTitulo {
	float: left;
	width: 100%;
	text-align: center;
}

.figuraNoticia {
	float: left;
	margin: 0px 4px 0px 0px;
	width: 200px;
	height: 150px;
	text-align: center;
}

.textoNoticia {
	float: left;
	text-align: justify;
	padding:0px 4px 0px 4px;
	width:692px;
	clear:both;
	color:black;
	font-size:13px;
}

.autorNoticia {
	float: left;
	width: 240px;
	padding:0px 4px 0px 4px;
}

.dataNoticia {
	float: right;
	text-align: right;
	margin-right: 4px;
	width: 240px;
	padding:0px 4px 0px 4px;
}

.maisNoticias {
	float: left;
	clear: both;
	width: 100%;
	margin: 0px 0px 0px 8px;
}

/* Css Exames */
.pesquisarExm {
	background: transparent url(/web/estatico/images/exames/borda_pesq.gif)
		no-repeat scroll top center;
	margin-top: 10px;
	height: 34px;
	padding-top: 3px;
}

.grupoExame {
	float: left;
	width: 100%;
	margin: 4px 0px 4px 0px;
}

/* Css Col Dir. Autenticado */
#extratoErro {
	color: red;
	left: 908px;
	list-style-type: none;
	position: absolute;
	top: 231px;
}

#extratoErroSemanal {
	color: red;
	left: 943px;
	list-style-type: none;
	position: absolute;
	top: 299px;
}

/* Confg. Gerais */
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #444;
	margin: 0;
	padding: 0;
	text-align: center;
}

#header {
	float: left;
	width: 100%;
	height: 112px;
	background-image: url(/web/estatico/images/inicial/topo.gif);
	background-repeat: no-repeat;
}

#menu {
	float: left;
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	height: 31px;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 0px 10px 10px 10px;
	text-align: left;
}

#conteudo {
	float: left;
	width: 1000px;
	background-color: white;
}

#body {
	width: 100%;
	float: left;
	margin-left: 17px;
	margin-right: 17px;
	margin-bottom: 10px;
}

#bodyTopo {
	background: transparent
		url(/web/estatico/images/inicial/barra_conteudo_top.gif) no-repeat
		bottom left;
	width: 100%;
	float: left;
}

#bodyFundo {
	background: transparent
		url(/web/estatico/images/inicial/barra_conteudo_bottom.gif) no-repeat
		scroll left top;
	width: 100%;
	float: left;
}

#bodyConteudo {
	width: 100%;
	background: transparent
		url(/web/estatico/images/inicial/barra_conteudo_left_right.gif)
		repeat-y scroll 0 0;
	width: 100%;
	float: left;
}

#footer {
	clear: both;
}

a {
	color: #777;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

.links {
	background: url(/web/estatico/images/inicial/links.gif) no-repeat;
	padding-top: 5px;
	width: 358px;
	height: 26px;
	float: right;
}

.links a {
	color: #AD0000;
}

.links a:hover {
	text-decoration: none;
	color: #AD0000;
}

.texto_link {
	float: none;
	margin-left: 55px;
	width: 100px;
	height: 20px;
}
.ui-growl {
    top: 154px;
}
/* LightBox */
#cboxPhoto{
	max-width: 800px;
	max-height:600px;
}
#colorbox{
	max-width: 840px;
	max-height:660px;
}